.hero {
	font-family: "Roboto", serif;
	text-align: center;
	min-height: 100vh;
	background-size: cover;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;}
	.hero h1 {
		line-height: 55px;
		font-size: 72px;}
	.hero h2 {
		margin-bottom: 50px;
		font-size: 40px;
		line-height: 40px;}


.landscape.hero {
	background-image: linear-gradient(to bottom, rgba(14,40,70,0.9) 0%,rgba(21,71,113,0.3) 62%,rgba(22,74,117,0.2) 68%,rgba(0,0,0,0.3) 100%), url(../img/banner/banner.jpg);
	color: #FFFFFF;
	position: relative;
  	overflow: hidden;
  	line-height: 0px;}
	.landscape.hero:before {
		right: 50%;
		border-right: 40px solid transparent;
		border-left: 1000px solid #FFF;}
	.landscape.hero:after {
		left: 50%;
		border-left: 40px solid transparent;
		border-right: 1000px solid #FFF;}
	.landscape.hero:before, .landscape.hero:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 50%;
		border-bottom: 40px solid #FFF;
		-moz-transform: rotate(0.000001deg);
		-webkit-transform: rotate(0.000001deg);
		-o-transform: rotate(0.000001deg);
		-ms-transform: rotate(0.000001deg);
		transform: rotate(0.000001deg);}

.down-arrow {
	width: 60px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	margin-bottom: 25px;
	cursor: pointer;
	-webkit-transition: 0.3s margin-bottom ease;
	-moz-transition: 0.3s margin-bottom ease;
	-ms-transition: 0.3s margin-bottom ease;
	-o-transition: 0.3s margin-bottom ease;
	transition: 0.3s margin-bottom ease;}
	.down-arrow:hover {
		margin-bottom: 15px;}
	.down-arrow:hover svg path {
		fill: #F33446;
		-webkit-transition: fill 800ms;
		transition: fill 800ms;}

#intro h1,
#intro h5 {
	text-shadow: rgba(0, 0, 0, .65) 0px 5px 5px;}
	#intro h5 {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 700;}

.cta {
	background-color: #012248;
	color: #FFFFFF;
	padding: 0px;
	width: 180px;
	font-size: 18px;
	line-height: 50px;
	border: none;
	border-radius: 4px;
	cursor: pointer;}
	.cta:hover {
		background-color: #8eafe5;}

#about {
	min-height: 0px;
	overflow: hidden;}
	#about h1 {
		margin-top: 80px;
		font-size: 60px;
		text-shadow: rgba(0, 0, 0, .2) 0px 3px 3px;}
	#about b {
		color: #5ebde0;
		font-weight: normal;}
	#about u {
		text-decoration: none;
		color: #1D265F;
		text-shadow: rgba(220, 215, 179, 1) 2px 2px 2px;}
	#about .left-col h2 {
			color: #42adf4;
			padding-top: 20px;
			padding-right: 20px;
			padding-left: 20px;
			text-align: right;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 60px;
			font-weight: 700;
			line-height: 55px;}
	#about .right-col {
		text-align: left;
		padding-top: 20px;
		padding-right: 20px;
		padding-left: 20px;}
		.right-col h5 {
			font-size: 24px;
			line-height: 30px;}

#projects {
	background-color: #ccdfff;
	padding-bottom: 50px;
	margin: 0px;}
	#projects h1 {
		line-height: 70px;
		font-size: 60px;
		text-shadow: rgba(0, 0, 0, .2) 0px 3px 3px;
	}
	#projects .col-md-4 {
		overflow: hidden;
		padding-top: 0px;
		padding-right: 5px;
		padding-bottom: 0px;
		padding-left: 5px;}
		.col-md-4 img {
			height: 100%;
			max-height: 225px;
			max-width: 400px;}
		.col-md-4 img:hover {
			opacity: 0.5;
		}

#contact p {
	font-size: 24px;
	margin-bottom: 40px;
	max-width: 740px;}
	#contact h1 {
		line-height: 100px;
		font-size: 60px;
		text-shadow: rgba(0, 0, 0, .2) 0px 3px 3px;}

#social {
	padding: 20px;}
	#social a{
		margin-top: 0px;
		margin-left: 10px;
		text-decoration: none;}
	#social img {
		height: 20px;}
		#social img:hover {
			opacity: 0.5;}

#footer {
	height: 40px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;}
	#footer a {
		color: black;
		font-size: 16px;
		line-height: 40px;
		padding: 0px;
		margin-left: 5px;
		margin-right: 20px;}
	#footer .footer-item {
		flex: 1;
		max-width: 100px;}

.copyright {
	margin-left: auto;
	color: #42adf4;}

#sidebar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 0px;
  padding-top: 0px;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(0, 29, 51, 0.5);
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease; }
  #sidebar-wrapper h2 {
    font-size: 40px;
    line-height: 40px;
    margin: 4px;
    padding: 0; }
  #sidebar-wrapper a {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px; }
  #sidebar-wrapper.open {
    height: 40px; }
  #sidebar-wrapper .sidebar-links {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 100%;
    padding-bottom: 10px;
	padding-right: 10px;}
    #sidebar-wrapper .sidebar-links.link {
    padding-top: 0px; 
	justify-content: flex-end;
	align-items: right;
	width: 12%;}

#home-btn {
  margin-left: 10px;
  margin-top: 5px;
  align-self: flex-start;
  color: #FFFFFF;
  cursor: pointer; }
  #home-btn:hover {
    opacity: 0.5; }
  #home-btn img {
    height: 30px;
    width: 30px; }

#hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 34px;
  width: 40px;
  left: 10px;
  top: 5px;
  border-radius: 4px;
  background-color: #012248;
  opacity: 0.5;
  z-index: 1; }
  #hamburger.hidden {
  	visibility: hidden;
  }
  #hamburger:hover {
    background-color: #8eafe5; 
	opacity: 1;}
  #hamburger img {
    height: 30px;
    width: 30px; }

.modal-dialog {
	width: 90%;
}
.modal-title {
	color: #42adf4;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 60px;
	line-height: 55px;
	text-align: center;}
}

.modal-body {
	display: flex;
	justify-content: center;
	align-items: center;}
	.modal-body p {
		font-family: "Roboto", serif;
		font-size: 24px;
		line-height: 35px;
		text-align: center;
	}
	.modal-body img {
		display: block;
		margin: auto;
		max-height: 40%;
		max-width: 70%;
	}

@media screen and (max-width: 992px) {
	.row {
		width: 100%;
	}
	.col-md-4 {
		width: 100%;
	}

	.col-md-4 img {
		width: 100%;
		max-width: 992px;
		max-height: 900px;
	}
    #sidebar-wrapper .sidebar-links.link {
		width: 20%;
	}
}

@media only screen and (max-width: 768px) {
	#intro {
		min-height: 640px;
	}
	.left-col h2 {
		font-size: 42px;
		line-height: 40px;
	}
	#footer {
		margin-left: 20px;
		margin-right: 20px;
	}
	#footer h4 {
		padding-right: 20px;
	}
    #sidebar-wrapper .sidebar-links.link {
	width: 30%;}
}

@media only screen and (max-width: 480px) {
	#intro {
		min-height: 640px;
	}
	.left-col h2 {
		font-size: 42px;
		line-height: 40px;
	}
	#footer {
		margin-left: 20px;
		margin-right: 20px;
	}
	#footer h4 {
		padding-right: 20px;
	}
    #sidebar-wrapper .sidebar-links.link {
	width: 50%;}
}
